<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660865086897-p7pvq8cf7ffg6sqb9jbeleof9lgmjjog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660865086897-p7pvq8cf7ffg6sqb9jbeleof9lgmjjog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>660865086897-a9q2n684ok3g4f45lnannig7sgle37b2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5XLZxL23AjyZ-TSWJP45F3AgYg0Jh-LM</string>
	<key>GCM_SENDER_ID</key>
	<string>660865086897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifen.myxmi</string>
	<key>PROJECT_ID</key>
	<string>myxmi-94982</string>
	<key>STORAGE_BUCKET</key>
	<string>myxmi-94982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660865086897:ios:e073129c511808dbffb990</string>
</dict>
</plist>